NYXA_AGENT_MODE=observe_only
NYXA_MEMORY_BACKEND=local
NYXA_DATA_DIR=./data

NYXA_DREAMING_ENABLED=false
NYXA_APPRENTICE_ENABLED=true
NYXA_VISUAL_OBSERVATION_ENABLED=false
NYXA_DRAFTS_ENABLED=false

NYXA_AUTHORITATIVE_WRITES_ENABLED=false
NYXA_EXECUTION_TOOLS_ENABLED=false
NYXA_REMOTE_MEMORY_URL=
NYXA_REMOTE_MEMORY_TOKEN=
